mixin ToC(toc)
    ol
        each link in toc
            li
                a(href=('#'+link.hash))=link.title
                if link.contents
                    +ToC(link.contents)
mixin navPiece(nav)
    ul
        each link in nav
            li
                if (link.permalink === page.permalink)
                    a(href=link.permalink).active=link.title
                else
                    a(href=link.permalink)=link.title
                if link.children
                    +navPiece(link.children)

<!DOCTYPE html>
html(lang="en")
    head
        include ./../includes/head.pug
        title #{page.title}
    body
        script(async type="text/javascript" src="/bundle.js")
        .aRootWrapper
            main
                article
                    if (!page.hasOwnTitle)
                        h1=page.title
                    if (page.content)
                        | !{page.content}
                if (children && children.length)
                    .aChildList
                        each child in children
                            a(href=(child.permalink))
                                article
                                    h3=child.title
            aside.aNavSidebar
                nav
                    +navPiece(site.navigation)
            if (page.toc)
                aside.aToC
                    nav
                        +ToC(page.toc)